
.searchContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1, span {
        color: var(--white-blue-300);
        text-align: center;
    }

    span a {
        text-decoration: none;
        color: var(--white-blue-300);
        cursor: pointer;
    }

    div {
        padding-block: 1.5rem;
        width: 100%;

        input {
            color: var(--white-blue-300);
            font-size: 20px;
            border: none;
            padding: 10px 40px;
            background-color: var(--back-color);
            border-radius: 20px 0px 0px 20px;
            background-color: #ecf0f3;
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
            transition: box-shadow .25s ease !important;
            width: 70%;
        }

        input:focus {
            outline:none !important;
        }

        button {
            cursor: pointer;
            color: var(--white-blue-300);
            font-size: 20px;
            border: none;
            padding: 10px 40px;
            background-color: var(--back-color);
            border-radius: 0px 20px 20px 0px;
            background-color: #ecf0f3;
            box-shadow: 10px -13px 20px #fff, 13px 13px 20px #cbced1;
            transition: box-shadow .25s ease !important;
            width: 30%;
        }

        @media (max-width: 425px) {
            input {
                width: 100%;
                font-size: 20px;
                border: none;
                padding: 10px 40px;
                background-color: var(--back-color);
                border-radius: 20px 20px 0px 0px;
                background: linear-gradient(145deg, #dfe8fe, #bbc3d5);
                box-shadow:  5px 1px 10px #5e626b,
                            -5px -5px 10px #ffffff;
                transition: box-shadow .25s ease !important;
            }

            input:focus {
                outline:none !important;
            }

            button {
                width: 100%;
                cursor: pointer;
                color: var(--white-blue-300);
                font-size: 20px;
                border: none;
                padding: 10px 40px;
                background-color: var(--back-color);
                border-radius: 0px 0px 20px 20px;
                background: linear-gradient(145deg, #dfe8fe, #bbc3d5);
                    box-shadow:  5px 5px 10px #5e626b,
                                -5px 5px 10px #ffffff;
                transition: box-shadow .25s ease !important;
            }
        }
    }

    @media (max-width: 425px) {
        padding: 2.5rem;
    }
}